mat-form-field {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

.log-col h3{
  color: white; 
  font-size: 40px; 
  font-weight: 600; 
  text-align: center; 
  line-height: 25px;
  margin-bottom: 30px;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.75);}
